 <!-- BEGIN PAGE CONTAINER -->
        <div class="page-container">
            <!-- BEGIN PAGE HEAD -->
            <div class="page-head">
                <div class="container">
                    <!-- BEGIN PAGE TITLE -->
                    <div class="page-title">
                        <h1>Investors <small>Find and manage investors</small></h1>
                    </div>
                    <!-- END PAGE TITLE -->
                    <!-- BEGIN PAGE TOOLBAR -->
                    <div class="page-toolbar">
                        <!-- BEGIN THEME PANEL -->
                        <div class="btn-group btn-theme-panel">
                            <a href="javascript:;" class="btn dropdown-toggle"  data-hover="dropdown" data-toggle="dropdown">
                                <i class="icon-settings"></i>
                            </a>
                            <ul class="dropdown-menu pull-right">
                                <li>
                                    <a href="profile_account.html">
                                        <i class="icon-settings"></i>Settings </a>
                                </li>
                                <li class="divider">
                                </li>
                                <li>
                                    <a href="javascript:void(0)">Employees </a>
                                </li>
                                <li>
                                    <a href="employee_static_doc.html">Documentation </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <!-- END PAGE TOOLBAR -->
                </div>
            </div>
            <!-- END PAGE HEAD -->
            <!-- BEGIN PAGE CONTENT -->
            <div class="page-content">
                <div class="container">
                    <!-- BEGIN SAMPLE PORTLET CONFIGURATION MODAL FORM-->
                    <div class="modal fade" id="portlet-config" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                                    <h4 class="modal-title">Modal title</h4>
                                </div>
                                <div class="modal-body">
                                    Widget settings form goes here
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn blue">Save changes</button>
                                    <button type="button" class="btn default" data-dismiss="modal">Close</button>
                                </div>
                            </div>
                            <!-- /.modal-content -->
                        </div>
                        <!-- /.modal-dialog -->
                    </div>
                    <!-- /.modal -->
                    <!-- END SAMPLE PORTLET CONFIGURATION MODAL FORM-->
                    <!-- BEGIN PAGE BREADCRUMB -->
                    <ul class="page-breadcrumb breadcrumb">
                        <li>
                            <a href="#">Dashboard</a><i class="fa fa-circle"></i>
                        </li>
                        <li>
                            <a href="investor.html">Investors</a><i class="fa fa-circle"></i>
                        </li>
                        <li class="active">
                            Jommy Tomiar
                        </li>
                    </ul>
                    <!-- END PAGE BREADCRUMB -->
                    <!-- BEGIN PAGE CONTENT INNER -->
                    <div class="row margin-top-10">
                        <div class="col-md-12">
                            <!-- BEGIN PROFILE SIDEBAR -->
                            <div class="profile-sidebar" style="">
                                <!-- PORTLET MAIN -->
                                <div class="portlet light profile-sidebar-portlet">
                                    <!-- SIDEBAR USERPIC -->
                                    <div class="profile-userpic">
                                        <img src="/assets/default-image.png" class="img-responsive" alt="">
                                    </div>
                                    <!-- END SIDEBAR USERPIC -->
                                    <!-- SIDEBAR USER TITLE -->
                                    <div class="profile-usertitle">
                                        <div class="profile-usertitle-name">
                                            Jommy Tomiar
                                        </div>
                                        <div class="profile-usertitle-job">
                                            ID: 00216
                                        </div>
                                    </div>
                                    <!-- END SIDEBAR USER TITLE -->
                                </div>
                                <div class="portlet light">
                                    <div class="portlet-title">
                                        <div class="caption">
                                            <span class="caption-subject font-green-sharp bold uppercase">Investor Info</span>
                                        </div>
                                    </div>
                                    <p>
                                        <strong><a href="#">Jommy Tomiar</a></strong>
                                    </p>
                                    <p>
                                        <strong>Primary Phone</strong> <br>
                                        866-123-1234
                                    </p>
                                    <p>
                                        <strong>Email</strong> <br>
                                        <a href="mailto:mikeross@psl-construction.com">jommy@psl-construction.com</a>
                                    </p>
                                    <p class="mt20">Other projects with Jommy Tomiar:</p>
                                    <ul class="pl20">
                                        <li><a href="#">Project Id</a> (Status)</li>
                                        <li><a href="#">Project Id</a> (Status)</li>
                                        <li><a href="#">Project Id</a> (Status)</li>
                                    </ul>
                                </div>
                                <!-- END PORTLET MAIN -->
                            </div>
                            <!-- END BEGIN PROFILE SIDEBAR -->
                            <!-- BEGIN PROFILE CONTENT -->
                            <div class="profile-content">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="portlet light">
                                            <div class="portlet-title tabbable-line">
                                                <div class="caption caption-md">
                                                    <i class="icon-globe theme-font hide"></i>
                                                    <span class="caption-subject font-blue-madison bold uppercase">Edit Investor</span>
                                                </div>
                                                
                                            </div>
                                            <div class="portlet-body">
                                                <!-- PERSONAL INFO TAB -->
                                                <form role="form" id="form_sample_3" method="post" action="javascript:;">
                                                    <div class="alert alert-success display-hide">
                                                        <button class="close" data-close="alert"></button>
                                                        Your personal information are successfully updated! 
                                                    </div>
                                                    <div class="alert alert-danger display-hide">
                                                        <button class="close" data-close="alert"></button>
                                                        You have some form errors. Please check below.
                                                    </div>
                                                    <div class="form-group">
                                                        <label class="control-label">First Name</label>
                                                        <input type="text" value="" placeholder="Your first name" class="form-control"  name="username" aria-required="true" aria-describedby="username-error" aria-invalid="true"/>
                                                    </div>
                                                    <div class="form-group">
                                                        <label class="control-label">Last Name</label>
                                                        <input type="text" value="Smothsonian" name="lastname" placeholder="Your last name" class="form-control"/>
                                                    </div>
                                                    <div class="form-group">
                                                        <label class="control-label">Email</label>
                                                        <input type="text" name="email" placeholder="Your email id" value="johnny.smithsonian@upl-energy.com" class="form-control"/>
                                                    </div>
                                                    <div class="form-group">
                                                        <label class="control-label">Primary Phone</label>
                                                        <input type="text" class="form-control" name="ei" placeholder="" value=""/>
                                                    </div>
                                                    <div class="margiv-top-10">
                                                        <a href="#" id="submit-personal-info-form" class="btn green-haze">
                                                            Save Changes </a>
                                                        <input type="submit" class="btn default" value="Validate">
                                                        <a href="#" class="btn default">Cancel </a>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- END PROFILE CONTENT -->
                        </div>
                    </div>
                    <!-- END PAGE CONTENT INNER -->
                </div>
            </div>
            <!-- END PAGE CONTENT -->
        </div>
        <!-- END PAGE CONTAINER -->

        <script src="/assets/jquery.min.js" type="text/javascript"></script>
        <script src="/assets/jquery-migrate.min.js" type="text/javascript"></script>
        <!-- IMPORTANT! Load jquery-ui-1.10.3.custom.min.js before bootstrap.min.js to fix bootstrap tooltip conflict with jquery ui tooltip -->
        <script src="/assets/jquery-ui/jquery-ui-1.10.3.custom.min.js" type="text/javascript"></script>
        <script src="/assets/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
        <script type="text/javascript" src="/assets/jquery-validation/js/jquery.validate.min.js"></script>
        <script type="text/javascript" src="/assets/jquery-validation/js/additional-methods.min.js"></script>
        <script src="/assets/bootstrap-hover-dropdown/bootstrap-hover-dropdown.min.js" type="text/javascript"></script>
        <script src="/assets/jquery-slimscroll/jquery.slimscroll.min.js" type="text/javascript"></script>
        <script src="/assets/jquery.blockui.min.js" type="text/javascript"></script>
        <script src="/assets/jquery.cokie.min.js" type="text/javascript"></script>
        <script src="/assets/uniform/jquery.uniform.min.js" type="text/javascript"></script>
        <!-- END CORE PLUGINS -->
        <!-- BEGIN PAGE LEVEL PLUGINS -->
        <script src="/assets/bootstrap-fileinput/bootstrap-fileinput.js" type="text/javascript"></script>
        <script src="/assets/form-validation.js"></script>
        <script src="/assets/jquery.sparkline.min.js" type="text/javascript"></script>
        <!-- END PAGE INS -->
        <!-- BEGIN PAGE LEVEL SCRIPTS -->
        <script src="/assets/metronic.js" type="text/javascript"></script>
        <script src="/assets/layout.js" type="text/javascript"></script>
        <script src="/assets/demo.js" type="text/javascript"></script>
        <script src="/assets/profile.js" type="text/javascript"></script>
        <!-- END PAGE LEVEL SCRIPTS -->
        <script>
            jQuery(document).ready(function() {       
                // initiate layout and plugins
                Metronic.init(); // init metronic core components
                Layout.init(); // init current layout
                Demo.init(); // init demo features\
                Profile.init(); // init page demo
                FormValidation.init();    
            });
        </script>